<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Password Generator</title>
</head>
<body>
<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TextFix.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'about' %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'contact' %}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Age Calculator</a>
      </li>
        </li>
            <li class="nav-item">
        <a class="nav-link" href="{%url 'passgen' %}">Password Generator</a>
      </li>
    </ul>
  </div>
</nav>
<h1>PASSWORD GENERATOR</h1>

<form action="{% url 'password' %}">
    <div class="form-group">
    <label>Length</label>
    <select name="length" class="form-control">
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
    </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox"  name="uppercase">
      <label class="form-check-label">
        UpperCase
      </label>
        <br>
      <input class="form-check-input" type="checkbox" name="numbers">
      <label class="form-check-label">
        Numbers
      </label>
        <br>
      <input class="form-check-input" type="checkbox" name="special">
      <label class="form-check-label">
        Special
      </label>
    </div>
    <button class="btn btn-success" type="submit">Generate Password</button>
</form>

<div class="container">
    <div class="jumbotron">
       {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>